ul{
    list-style:none;
}
li{
    float:left;
}

#postsList{
    margin-top:-20px;
    height:500px;
}

.div-box{
    display:inline-block;
    margin : 0 15px;
}

.postItem{
    display:inline-block;
    margin-top : 36px;
    vertical-align : top;
    width : 270px;
    border-radius : 14px;
    background-color : white;
    box-shadow : 4px 12px 30px 6px rgb(0 0 0 / 9%);
}

.wrap_content{
    display:block;
    position:relative;
    width : 270px;
    padding:25px 24px 0;
    box-sizing : border-box;
    height: 197px;
}

.info_text{
    display:inline-block;
    height:36px;
    margin-top:-1px;
    padding-right:20px;
}
.name{
    display:inline-block;
}
.title_text{
    max-height:64px;
    font-size:22px;
    line-height:32px;
    width : 200px;

    /* 두줄 이상 넘어가면 생략표시*/
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    text-align: left;
    -webkit-line-clamp:3; /* 라인수 */
    -webkit-box-orient:vertical;
}
.hashtag_text{
    margin-top:18px;
    font-size:13px;
    line-height:19px;
    display:block;
}

.box {
    display:inline-block;
    margin-right:10px;
    width: 30px;
    height: 30px; 
    border-radius: 70%;
    overflow: hidden;
    vertical-align:middle;
}
.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align:middle;
}

.main_img{
    width : 50px;
    height: 50px;
    vertical-align : middle;
}
.main_text{
    font-size:36px;
    line-height:52px;
    font-weight:700;
    font-style:normal;
    vertical-align : middle;
}
.detail_text{
    display : block;
    margin-top : 3px;
    font-size:28px;
    line-height:52px;
}
.page_title{
    margin-top:50px;
    margin-left:60px;
}

.post_form_box{
    display : block;
}