.list_tab_wrap{
    display : block;
    height : 50px;
    text-align: center;
    margin-bottom : 50px;
}
.list_tab{
    display:inline-block;
}
.unactive_post_btn{
    display : inline-block;
    margin : 10px 15px 0 0;
    height : 44px;
    padding : 0 20px;
    background : #eee;
    border-radius : 20px;
    text-decoration: none; 
    color : black;
    font-weight : 600;
}

.active_post_btn{
    display : inline-block;
    margin : 10px 15px 0 0;
    height : 44px;
    padding : 0 20px;
    border-radius : 20px;
    text-decoration: none; 
    background : #1F2247;
    color : white;
    font-weight : 600;
}

.active_post_btn .post_board_name{
    color: white;
}

.post_board_name{
    list-style : none;
    text-decoration-line : none;
    display : inline-block;
    text-decoration: none;
    font-size : 16px;
    line-height : 43px;
    letter-spacing : -.5px;
}



.post_board_name:visited{
    text-decoration : none;
}

a:-webkit-any-link {
    text-decoration : none;
}