.area_reservePage:first-child {
    border: none;
}
.area_reservePage {
    padding: 40px 50px;
    margin : 40px 0px 40px 0px;
    box-shadow : 4px 12px 30px 6px rgb(0 0 0 / 9%);
    border-radius : 14px;
}
div {
    display: block;
}
body, button, input, select, td, textarea, th {
    font-size: 14px;
    line-height: 1.5;
    font-family: KHDS-Regular,system-ui,AppleSDGothicNeo-Regular,맑은 고딕,Malgun Gothic,돋움,dotum,sans-serif;
    color: #111;
}
.area_reservePage .title_subpage {
    font-size:22px;
    padding: 0 0 24px;
    margin-top: -5px;
}
.title_subpage {
    display: block;
    padding: 16px;
    font-family: KHDS-Bold,system-ui,AppleSDGothicNeo-Regular,맑은 고딕,Malgun Gothic,돋움,dotum,sans-serif;
    font-size: 20px;
    line-height: 24px;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.area_reservePage .group_info {
    overflow: hidden;
    margin-bottom: 16px;
}
.area_reservePage .group_info .title_info {
    float: left;
    width: 95px;
    font-size: 15px;
    line-height: 18px;
    color: #888;
}
.area_reservePage .group_info .item_info {
    display: block;
    overflow: hidden;
    line-height: 18px;
}
.area_reservePage .group_info .item_info .txt_item {
    font-size: 15px;
    line-height: 18px;
}
.area_reservePage .title_area {
    display: block;
    font-family: KHDS-Bold,system-ui,AppleSDGothicNeo-Regular,맑은 고딕,Malgun Gothic,돋움,dotum,sans-serif;
    font-size: 22px;
    line-height: 19px;
    padding-bottom: 16px;
    border-bottom: 1px solid #eee;
}
.strong {
    font-weight: bold;
}
.area_reservePage .group_day {
    position: relative;
    margin: 0 -16px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
 .group_day .cover_day {
    overflow: hidden;
    padding: 16px 10px 0;
}
.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.area_reservePage .group_day .swiper-wrapper {
    height: auto;
}
.swiper-wrapper {
    transform: translate3d(0px, 0px, 0px);
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    margin : 0px auto;
    display: -moz-box;
    display: flex;
    transition-property: transform;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.swiper-container-android .swiper-slide, .swiper-wrapper {
    transform: translateZ(0);
}
.group_day .swiper-slide {
    width: auto;
}
.swiper-slide {
    flex-shrink: 0;
    margin-right : 10px;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}
.area_reservePage .group_day .item_day .radio_item {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: .01;
    cursor: pointer;
    border: 0;
    -webkit-appearance: none;
}
.group_day .item_day .label_item {
    display: block;
    width: 56px;
    padding: 0 8px;
    font-size: 14px;
    text-align: center;
    color: #111;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
label {
    cursor: default;
}
.name_item {
    display: block;
    font-size: 14px;
    text-align: center;
    line-height: 17px;
    color: #aaa;
}
 .label_item .num_g {
    display: block;
    width: 40px;
    height: 40px;
    margin-top: 6px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    border-radius: 50%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.page_reservePage .area_reservePage .group_day .item_day .label_item .txt_today {
    display: block;
    margin-top: 4px;
    font-family: KHDS-Regular,system-ui,AppleSDGothicNeo-Regular,맑은 고딕,Malgun Gothic,돋움,dotum,sans-serif;
    font-size: 13px;
    line-height: 16px;
    color: #555;
    text-align: center;
}
 .group_day .item_day .radio_item:checked+.label_item .num_g {
    color: #fff;
    background-color: #1F2247;
}
.group_bottom_btn.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
}
.group_bottom_btn {
    position: relative;
    height: 78px;
    padding: 16px;
    margin-top: 20px;
    background-color: #fff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.group_bottom_btn .item_bottom_info+.item_bottom_btn {
    width: 51%;
}


.group_bottom_btn .item_bottom_info+.item_bottom_btn {
    width: 51%;
}
.group_bottom_btn .item_bottom_btn {
    display: block;
    width: 50%;
    height: 50px;
    float: left;
    padding-left: 4px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

 .btn_bottom_btn {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 15px 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #1F2247;

    font-size: 16px;
    line-height: 19px;
    border-radius: 3px;
    box-shadow: 0 2px 14px 0 rgb(0 0 0 / 30%);
}
.btn_bottom_btn.reserved {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 15px 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #af0808;
    font-size: 16px;
    line-height: 19px;
    border-radius: 3px;
    box-shadow: 0 2px 14px 0 rgb(0 0 0 / 30%);
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
.washer {
    display: -webkit-box;
    overflow: hidden;
    font-family: KHDS-Bold,system-ui,AppleSDGothicNeo-Regular,맑은 고딕,Malgun Gothic,돋움,dotum,sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #111;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    white-space: normal;

    margin-left: 40px;
}
 .group_washer {
    padding-bottom: 16px;
    border-bottom: 1px solid #f3f3f3;
}
.card_washer {
    padding: 24px 0;
}
.bundle_timeRadioTagList {
    display: -moz-box;
    display: flex;
    margin: 0 -16px;
    padding: 0 16px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 0;
}
.item_radio.reserved{
    color: #ff695b;
}
.item_label.reserved{
    color: #ff695b;
}
.bundle_timeRadioTagList .item_timeRadioTagList {
    position: relative;
    display: inline-block;
    height: 38px;
    margin-bottom: 8px;
    padding-right: 4px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
}
.bundle_timeRadioTagList .item_timeRadioTagList .item_radio {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: .01;
    cursor: pointer;
    border: 0;
    vertical-align: top;
    -webkit-appearance: none;
}


.bundle_timeRadioTagList .item_timeRadioTagList .item_radio:checked+.item_label {
    color: #fff;
    background-color: #1F2247;
}
.bundle_timeRadioTagList .item_timeRadioTagList .item_radio.reserved+.item_label {
    color: #ff695b;
    background-color: #fff;
}
.bundle_timeRadioTagList .item_timeRadioTagList .item_label {
    display: -moz-box;
    display: flex;
    min-width: 66px;
    height: 36px;
    margin: 0;
    padding: 10px 16px;
    border-radius: 19px;
    font-family: KHDS-Regular,system-ui,AppleSDGothicNeo-Regular,맑은 고딕,Malgun Gothic,돋움,dotum,sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #111;
    background-color: #f5f5f5;
    text-align: center;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
}