
ul,li {margin:0; padding:0;}
.navbar {
    display : block;
    text-align: center;
    max-width: 952px;
    margin:0 auto;
}
.list_navbar{
    text-decoration: none;
    display : inline-block;
    margin-left: -105px;
    font-size : 16px;
    letter-spacing: -.5px;
}
.main{
    float : left;
    margin-left : 10px;
    font-size : 28px;
    line-height : 72px;
    font-weight : 900;
    text-decoration : none;
    /* background-color : #1F2247; */
    /* color :white; */
    color : #1F2247; 
}

.navbar_content{
    display : inline-block;
    position : relative;
    padding : 0 28px;
    line-height : 72px;
    font-weight : 700;
    text-decoration : none;
    color : black;
}

.list_navbar_wraper{
    margin : 0 auto;
    display : inline-block;
}

.activebtn{
    margin-top : 18px;
    display : inline-block;
    position : relative;
    padding : 0 28px;
    line-height : 36px;
    font-weight : 700;
    text-decoration : none;
    border-bottom: 2px solid black;
    color : black;
}



.unactivebtn{
    display : inline-block;
    position : relative;
    padding : 0 28px;
    line-height : 72px;
    font-weight : 700;
    text-decoration : none;
    color : black;
}
